.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    background-color: white;
    cursor: pointer;
    width: 270px;
    height: 450px;
}

.container:hover {
    box-shadow: 10px 5px 5px darkslategrey;
}

.imgContainer {
    position: relative;
    height: 400px;
    width: 270px;
    overflow: hidden;
    z-index: 1;
}

.details {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}