.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  width: 50vw;
  padding: 0.5rem 2rem;
  font-size: 18px;
  font-family: inherit;
  border-radius: 25px;
  border: 1px solid grey;
  margin-right: 1rem;
}

.button {
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  background-color: #663238;
  color: white;
}

.button:hover {
  background-color: #b2626b;
}

.searchResult {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}